{{>layout/header}}
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
  <thead class="thead-strong">
  <tr>
    <th>메뉴</th>
    <th>가격</th>
  </tr>
  </thead>
  <tbody id="tbody">
  {{#list}}
  <tr>
    <td>{{menu}}</td>
    <td>{{price}}</td>
  </tr>
  {{/list}}
  </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/insert.js"></script>
<script src="/js/best/js"></script>
</body>
</html>